---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Churi's Site</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>Churi's Blog</h1>

        <h2>26 September 2023</h2>
        <p>Today I made the mistake of learning about the <a href="https://en.wikipedia.org/wiki/Year_2038_problem">Year 2038 Problem</a>. I'm not sure what to do with this information.</p>
	</body>
</html>
